body {
  background: #fff;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

h1 {
  border-bottom: 1px solid #ddd;
}

.addPrescriptionBtn.btn {
  margin-bottom: 7px;
  padding: 6px 6px 6px 14px;
}

.addPrescriptionGlyph {
  margin-left: -8px;
}

.instructions {
  margin-bottom: 15px;
}

.alertSchedule {
  margin-top: 0px;
}

.alertTimeout {
  margin-bottom: 0px;
}